
body{
    max-width: 1024px;
    margin: 0 auto;
 /*   display:flex;
    flex-direction:column;
    justify-content:center;*/
    
}
.nav{
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: white;
    max-width: 1024px;
    display: flex;
    justify-content:center;
    align-items: flex-end;
    box-shadow: 0px 1px 0px #7d4627;
}

#logo{
    display: flex;
    flex-direction:column;
    align-content:stretch;
    align-items: stretch;
    width:140px;
    margin-right: 10px;
   }
.l_sweet{
    color: #7d4627;
    padding: 0;
    margin: -5px ;
    text-align:left;
    font-size: 30px;
    font-family: 'Lobster', cursive;
  }
.l_swad{
    color: #7d4627;
    padding: 0;
    margin-left: 2px;
     margin-right: 10px;
    text-align:left;
    font-size: 22px;
    font-family: 'Lobster', cursive;
  }

 p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}
h1{
     color: #7d4627;
     text-align: center;
     font-family: 'Droid Serif', serif;
}
main{
     display: flex;
     flex-direction:column;
     }
.main_top{
     background-image: url('../img/main_img.jpg');
     background-repeat: no-repeat;
     background-size: 100%;
     display: flex;
     flex-direction:row;
     align-items:center;
     
}

.main_top h1 {
    font-family: 'Lobster', cursive;
    font-size: 5rem;
    margin: 27% auto 28% auto;
    color: white;
    text-shadow: -1px 0 #7d4627, 0 1px #7d4627, 1px 0 #7d4627, 0 -1px #7d4627;
}
.main_menu{
     text-shadow: -1px 0 #7d4627, 0 1px #7d4627, 1px 0 #7d4627, 0 -1px #7d4627;
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
}
footer{
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: #a8b6bf;
    
}
footer h1{
    color:white;
}
.foot_soc{
    display: flex;
    justify-content:center;
    align-items:center;
}
.main_menu div {
    width: 450px;
    height: 311px;
    -webkit-transition: width 1s; /* Safari */
    transition: width 1s;
}
.img_menu{
    width: 450px;
    height: 311px;
    color: white;
    font-size: 36px;
    margin: 10px;
    display: flex;
    justify-content:center;
    align-items:center;
}
#img_forhim:hover,#img_forher:hover,#img_blankets:hover,#img_decore:hover {
    transition-timing-function: ease;
    width: 480px;
    
}
#img_forhim{
    background-image:url("../img/forhim1.jpg");
    background-position: center center;
    background-size: cover;
    width: 450px;
}

#img_forher{
    background-image:url("../img/forHer1.jpg");
    background-position: center center;
    background-size: cover;
}
#img_blankets{
    background-image:url("../img/blanket.jpg");
    background-position: center center;
    background-size: cover;
}
#img_decore{
    background-image:url("../img/toysdecor1.jpg");
    background-position: center center;
    background-size: cover;
}

.inst_main{
    display: flex;
    flex-wrap: wrap;
}
div.img{
    width: 200px;
    height: auto;
    margin: auto;
}

div.img img{
    width: 100%;
    height: auto;
}


section li{
    list-style-type: none;
    overflow: hidden;
    color: #7d4627;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

@media only screen and (max-width: 700px){
    div.img {
        width: 49.99999%;
        margin: 6px 0;
    }
    
    .main_top h1 {
    font-family: 'Lobster', cursive;
    font-size: 3.5rem;
    }
}


@media only screen and (max-width: 500px){
     div.img {
        width: 100%;
    }
    .main_top h1 {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
}
footer{
    display: flex;
    flex-direction:column;

}
}
.foot_sect{
    display:flex;
    flex-direction:column;
}
.foot_el{
    min-width:200px;
    display:flex;
    flex-direction:column;
    background-color:#edd9c0;
    margin:0;
}
.foot_soc{
     display:flex;
}
.socimg{
  width:50px;  
  height:50px;
  margin:2px;
}
#top1{
    height:50px;
}
#top2{
    height:50px;
}
#top3{
    height:50px;
}
#top4{
    height:50px;
}