
body{
    max-width: 1024px;
    margin: 0 auto;
}
.nav{
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: white;
    max-width: 1024px;
}
.nav_elem{
    display: flex;
    justify-content:space-around;
    align-items: flex-end;
    box-shadow: 0px 1px 0px #7d4627;
}
#logo{
    display: flex;
    flex-direction:column;
    align-content:stretch;
    align-items: stretch;
    width:100px;
   }
.l_sweet{
    color: #7d4627;
    padding: 0;
    margin: -5px ;
    text-align:left;
    font-size: 30px;
    font-family: 'Lobster', cursive;
  }
.l_swad{
    color: #7d4627;
    padding: 0;
    margin: -5px ;
    margin-left:2px;
    text-align:left;
    font-size: 22px;
    font-family: 'Lobster', cursive;
  }

.shopimg {
    width:50px;
    height:50px;
}
 p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}
h1{
     color: #7d4627;
     text-align: center;
     font-family: 'Droid Serif', serif;
}
main{
     display: flex;
     flex-direction:column;
     }
.main_top{
     background-image: url('../img/main_img.jpg');
     background-repeat: no-repeat;
     background-size: 100%;
     display: flex;
     flex-direction:row;
     align-items:center;
     
}

.main_top h1 {
    font-family: 'Lobster', cursive;
    font-size: 5rem;
    margin: 27% auto 28% auto;
    color: white;
    text-shadow: -1px 0 #7d4627, 0 1px #7d4627, 1px 0 #7d4627, 0 -1px #7d4627;
}
.main_menu{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
}
footer{
    display: flex;
    justify-content:center;
    background-color: #edd9c0;
}
.main_menu div {
    width: 450px;
    height: 311px;
    -webkit-transition: width 1s; /* Safari */
    transition: width 1s;
}
.img_menu{
    width: 450px;
    height: 311px;
    color: white;
    font-size: 36px;
    margin: 10px;
    border-radius: 25px;
    display: flex;
    justify-content:center;
    align-items:center;
}
#img_forhim:hover,#img_forher:hover,#img_blankets:hover,#img_decore:hover {
    transition-timing-function: ease;
    width: 480px;
    
}
#img_forhim{
    background-image:url("../images/forhim1.jpg");
    background-position: center center;
    background-size: cover;
    width: 450px;
}

#img_forher{
    background-image:url("../images/forHer1.jpg");
    background-position: center center;
    background-size: cover;
}
#img_blankets{
    background-image:url("../images/blankets1.jpg");
    background-position: center center;
    background-size: cover;
}
#img_decore{
    background-image:url("../images/toysdecor1.jpg");
    background-position: center center;
    background-size: cover;
}

.inst_main{
    display: flex;
    flex-wrap: wrap;
}
div.img{
    width: 200px;
    height: auto;
    margin: auto;
}

div.img img{
    width: 100%;
    height: auto;
}


@media only screen and (max-width: 700px){
    div.img {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
     div.img {
        width: 100%;
    }
}
section li{
    list-style-type: none;
    overflow: hidden;
    color: #7d4627;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

